<div class="row">
  <div class="col-md-6">
      <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>April 3, 2020</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>April 10, 2020</td>  <td>Version Control with Git</td> </tr>
      </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>April 17, 2020</td>  <td>Plotting and Programming in Python I</td> </tr>
      <tr> <td>April 24, 2020</td>  <td>Plotting and Programming in Python II</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
